@import "./reset.css";

:root {
  --color1: #fff;
  --color2: #000;
  --color3: #f26522;
  --color4: #5d5246; /* Gradient start #3f372d #2f2721*/
  --color5: #000806; /* Gradient end */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color1);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  background-image: url(../img/bg-img.png);
  background-size: cover;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
}

.container {
  width: 1030px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  /* margin: 0 auto; */
}

a {
  text-decoration: none;
}

a:link {
  color: var(--color1);
}

/* a[href^="mailto:"],
a[href^="tel:"] {
  color: var(--color1);
} */

a:visited {
  color: var(--color1);
}

a:hover {
  color: var(--color3);
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.logo-link {
  display: flex;
  align-items: center;
  width: 180px;
  height: 50px;
}

.logo-link::before {
  content: "";
  display: block;
  width: 53px;
  height: 47px;
  background-image: url("../img/logo-base.png");
  background-repeat: no-repeat;
}

.logo-link:hover::before {
  content: "";
  display: block;
  width: 53px;
  height: 47px;
  background-image: url("../img/logo_orange.png");
  background-repeat: no-repeat;
}

h1 {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 700;
  line-height: 29px;
  margin-left: 8px;
}

h1 span {
  font-size: 18px;
  line-height: 18px;
}

.contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

/* Main */

main {
  margin-bottom: 90px;
}

.card-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
}

.card-link {
  position: relative;
  width: 300px;
  height: 220px;
}

.card-grid img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 220px;
  object-fit: cover;
  box-sizing: border-box;
  border: 5px solid;
  border-image: linear-gradient(var(--color4), var(--color5)) 30;
  border-top: none;
}

.card-signature {
  position: absolute;
  line-height: 1;
  transform: translate(-50%, 100%);
  left: 50%;
  bottom: -20px;
}

.active {
  /* multiactive */
  visibility: hidden;
  width: 0;
  height: 55px;
  color: var(--color3);
  opacity: 0;

  /* project editable */
  /* width: 100%;
  height: 55px;
  color: var(--color1); */

  /* general */
  padding: 7px 37px 12px 16px;
  background-color: var(--color3);
  display: flex;
  justify-content: space-between;
  align-items: end;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  transition: 3s;
}

.card-link:hover .active {
  visibility: visible;
  width: 100%;
  height: 55px;
  padding: 7px 37px 12px 16px;
  opacity: 1;
  transition: 0.4s;
  color: var(--color1);
}

.activ-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.activ-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.active-from {
  font-size: 10px;
  line-height: 10px;
}

.active-euro {
  font-size: 20px;
  line-height: 20px;
}

.active-details {
  font-size: 14px;
  line-height: 14px;
  /* line-height: 0.5; */
  position: relative;
}

.active-details::after {
  content: url(../img/vector.svg);
  display: inline-block;
  width: 5px;
  height: 10px;
  margin-left: 16px;
  position: absolute;
  right: -16px;
  bottom: 50%;
  transform: translate(100%, 50%);
}

/* Footer */

/* footer {
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
} */

.copy {
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
}
